html {
background: #f7f7f7 url(../images/noise.png) repeat center center fixed !important;
}

body {
	font-size: 15px;
}

.bg-primary.dk, .bg-primary .dk {
	background: #bfd7e2 url(../images/bg.jpg) repeat center center fixed !important;
}

.navbar-brand img {
	max-height: 50px;
}

.navbar.affix {
	padding: 10px 0;
}

.btn {
	color: #fff !important;
	background-color: #2588A7 !important;
	border-color: #2588A7 !important;
}

.btn:hover, .btn:active {
	background-color: #0D5B74 !important;
	border-color: #0D5B74 !important;
}

.bg-primary.dker, .bg-primary .dker {
background: #2588A7 url(../images/noise.png) repeat center center fixed !important;
}

.bg-dark.dker, .bg-dark .dker {
background: #1b252e url(../images/noise.png) repeat center center fixed !important;
}

.bg-primary {
background: #2588A7 url(../images/noise.png) repeat center center fixed !important;
color: #FFF;
}

.text-primary {
color: #2588A7;
}

.bg-dark .text-muted {
color: #CDD7E0 !important;
}

a.btn.btn-xl {
font-size: 24px;
margin-top: 4px;
}

.text-info {
color: #2588A7;
}

a.btn.xl-width {
	width: 150px;
}


@media (min-width: 768px) {
	.aside {
	width: 200px;
	}
}

@media (max-width: 767px) {

	.navbar-nav > li > a {

		margin: 10px;
	}

	.navbar-header {
		padding: 10px 0;
	}

	.navbar-header .navbar-brand+.btn {
		top: auto;
		margin-right: 10px;
	}

}