html, body {

	background: #bfd7e2 url(../images/bg.jpg) repeat center center fixed !important;

	font-size: 15px;
}

.app, .app body {
	overflow: auto;
}

.header.navbar {
	height: 65px;
	position: fixed;
	width: 100%;
	z-index: 10000;
}

.header_logo {
	width: 185px;
	padding: 10px 0;
}

.navbar-brand img {
	max-height: none;
	margin-top: 0;
	max-width: 100%;
}

.hbox.stretch {
	background: #FAFAFA url(../images/noise.png) repeat center center fixed !important;
}

.bg-primary.lter, .bg-primary .lter {
	background-color: #2588A7;
}

.panel.panel-default {
	border: 0;
	box-shadow: 2px 2px 10px 0px rgba(20,20,20,.1);
}

.panel.edit_mode {
	box-shadow: 0px 0px 7px 1px #6EAABD !important;
}

.dropdown-menu i.fa {
	font-size: 14px;
	color: #555;
}


.btn-primary {
	color: #fff !important;
	background-color: #2588A7 !important;
	border-color: #2588A7 !important;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #0D5B74 !important;
	border-color: #0D5B74 !important;
}

aside .header {
	height: 56px;
}

.btn.add_bookmark {
	width: 100%;
}

.padder {
	padding: 15px;
}

.footer {
	padding: 15px 20px;
	text-align: center;
}

.panel.panel-default {
box-shadow: 1px 1px 2px 0px rgba(20,20,20,.1);
}

a.search_box_toggle {
	padding: 22px 28px !important;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 22px 22px;
}

input#search_box {
	padding: 12px 22px;
	padding-right: 50px;
	border: 0;
	font-size: 26px;
	font-weight: 300;
	outline: none;
	background: #2588A7;
	color: #FFF !important;
	width: 0;
	margin-right: -72px;
	margin-top: -1px;
}

.bg-dark .nav>li>a {
	background: transparent !important;
}

.bg-dark .nav>li>a:hover {
	color: #fff;
	background: transparent !important;
}

i.delete_category {
	float: right !important;
	margin: -12px -15px !important;
	display: none !important;
}

.categories li:hover i.delete_category {
	display: block !important;
}

.confirm_cat_deletion {
	padding: 10px;
	display: none;
}

.btn-small {
	padding: 0px 5px;
	margin: 0 0px 0 10px;
	margin-top: -4px;
}

::-webkit-input-placeholder {
   color: #CCC;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CCC;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC;  
}

:-ms-input-placeholder {  
   color: #CCC;  
}

.isotope {
	box-sizing: border-box;
	padding-right: 0;
	-webkit-transition: all 0.5s ease-out;
	min-height: 550px;
	margin-top: 55px;
}

.isotope .panel {

	width: 18.85%;
	margin-right: 0.9%;
	border-top: 2px solid #6EAABD;
	float: left;
}

.isotope .panel-heading {
	font-weight: 600;
	font-size: 15px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.isotope .panel-body {
	padding: 0;
	position: relative;
}
.isotope .panel-body img {
	width: 100%;
	height: 100%;
}

.isotope .panel-body .url {
	padding: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(245, 245, 245, 0.75);
	color: #555;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.isotope .panel-body .url a:hover, .isotope .panel-body .url a:focus {
color: #111;
}

.isotope .panel-footer a {
	width: 100%;
	display: block;
	padding: 10px;
	font-size: 15px;
	border-bottom: 2px solid white;
}

.isotope .panel-footer a:hover {
	border-bottom: 2px solid #6EAABD;
}

.dropdown-menu {
	padding: 0;
	min-width: 0;
	text-align: left;
	margin: 10px 0 0 -60px;
}

.dropdown-menu li a {
	border-bottom: 2px solid white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background: transparent !important;
}

iframe#static_viewer_frame {
	width: 100%;
	border: 0;
	position: absolute;
	bottom: 0;
	height: 0;
	background: #FFF;
}

.static_viewer {
	width: -moz-calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 260px);
	margin: 15px;
	position: fixed;
	bottom: -20px;
	height: 0;
	box-shadow: 1px 1px 2px 0px rgba(20,20,20,.1);
	display: none;
}

.static_viewer_header {
	background: #E8EDF3;
	padding:10px;
	color: #222;
	font-weight: 600;
	font-size: 15px;
}

a.close_static_viewer {
	float: right;
}

a.close_static_viewer i {
	font-size: 20px;
	font-weight: 300;
}

input[type=text], input[type=password], input[type=email], select {
	padding: 10px;
	border: 1px solid #FFF;
	border-radius: 2px;
	box-sizing: border-box;
	outline: none;
	font-size: 16px;
}

.form-control {
	height: auto;
}

input#save_bookmark, input#update_bookmark {
	padding: 7px 10px;
	background: #0D5B74;
	border: 0;
	color: #FFF;
	border-radius: 3px;
	margin: 0.37%;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	width: 14%;
}

input#save_bookmark:disabled, input#update_bookmark:disabled {
background: #BBB;
}

select:disabled {
background-color: rgb(235, 235, 228);
}

.add_bookmark_wrapper, .edit_bookmark_wrapper {
	background: #2588A7 url(../images/noise.png) repeat center center fixed !important;
	padding: 4px 10px;
	position: fixed;
	z-index: 10;
	width: -moz-calc(100% - 220px);
	width: -webkit-calc(100% - 220px);
	width: -o-calc(100% - 220px);
	width: calc(100% - 220px);
}

.add_bookmark_wrapper input[type=text], .edit_bookmark_wrapper input[type=text] {
	width: 32%;
	padding: 5px 10px;
	margin: 0.37%;
}

.add_bookmark_wrapper select, .edit_bookmark_wrapper select {;
	padding: 4px 10px;
	margin: 0.37%;
	width: 14%;
}

a.close_add_bookmark {
	float: right;
	color: #FFF;
	padding: 13px;
}

a.close_add_bookmark i {
	font-size: 20px;
	font-weight: 300;
}

a.close_edit_bookmark {
	float: right;
	color: #FFF;
	padding: 13px;
}

a.close_edit_bookmark i {
	font-size: 20px;
	font-weight: 300;
}

.thumb-sm {
	width: 20px;
	display: inline-block;
}

.nav-primary li>a>i>b {
	left: -41px;
}

.add_category_wrapper {

	display: none;
}

.add_category_wrapper input[type=text] {
	padding: 5px;
	width: 185px;
	margin: 0 15px;
}

.add_category_wrapper #add_category {
	margin: 15px;
	width: 185px;
}

button, input[type=*] {
	outline: none;
}

.bg-dark.dk, .bg-dark .dk {
	background: #0D5B74 url(../images/noise.png) repeat center center fixed !important;
}

.navbar-nav>li>.dropdown-menu {
	width: 100%;
}

#pagination {
	display: none;
}

.no_results {
	display: none;
}

aside {
	background: #E8EDF3 url(../images/noise.png) repeat center center fixed !important;
	position: fixed;
	font-size: 13px;
}

aside .nav-primary h4 {
	text-transform: uppercase;
	letter-spacing: 9px;
}

.hbox>aside, .hbox>section {

	display: block;
}

.hbox>section {
	margin-left: 220px;
}

.panel-default>.panel-heading {
background-color: #F2F5F8;
}

.loader {
	width:32px;
	height: 32px;
	background: url(../images/loader.gif) no-repeat center center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
}

.spinner {
	width:24px;
	height: 24px;
	background: url(../images/spinner.gif) no-repeat center center;
	float: left;
	margin: 11px 5px;
	display: none;
}

a.static_copy.disabled {
color: #AAA;
cursor: default;
}

a.static_copy.disabled:hover {
border: none;
}

.add_bookmark_wrapper input, .add_bookmark_wrapper button, .add_bookmark_wrapper select {
float: left;
}

.bg-dark .nav>li>a {
color: #718FAA;
}

.bg-dark {
color: #718FAA;
}

.nav-primary li {
margin: 2px 0;
}

.nav-primary ul.nav>li:hover>a>i>b, .nav-primary ul.nav>li:focus>a>i>b, .nav-primary ul.nav>li>a:hover>i>b, .nav-primary ul.nav>li>a:focus>i>b, .nav-primary ul.nav>li>a:active>i>b, .nav-primary ul.nav>li.active>a>i>b {
border-right: 2px solid #DCE5F0;
opacity: 0.7;
}

.nav-primary ul.nav>li:hover>a, .nav-primary ul.nav>li:focus>a, .nav-primary ul.nav>li>a:hover, .nav-primary ul.nav>li>a:focus, .nav-primary ul.nav>li>a:active, .nav-primary ul.nav>li.active>a {
background-color: rgba(37, 136, 167, 0.2) !important;
}

h4, h5, h6 {
margin-top: 18px;
margin-bottom: 15px;
}

.nav-primary ul.nav>li>a {
transition: color .2s ease-in-out 0s;
}

header.bg-dark .nav>li>a {
color: #B6CADD;
}

.categories li a span {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 130px;
display: inline-block;
margin-bottom: -5px;
}

div#not_allowed, div#url_unreachable {
position: fixed;
padding: 25px;
top: 50%;
left: 50%;
margin-left: -150px;
margin-top: -50px;
background: #2588A7;
border-radius: 3px;
font-size: 15px;
color: #FFF;
box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
display: none;
}

span.login_message.error {
padding: 15px 30px;
display: block;
background: #FFC2C2;
color: #444;
}

span.login_message.success {
padding: 15px 30px;
display: block;
background: #A7FF9B;
color: #444;
}

.show_on_mobile {
position: fixed;
width: 100%;
height: 100%;
z-index: 1000000;
background: #0D5B74;
color: #FFF;
text-align: center;
padding:100px 30px;
display: none;
}

input#username.available {
background: rgb(189, 255, 189);
}

input#username.taken {
	background: rgb(255, 189, 189);
}

.error {
	background: rgb(255, 189, 189);
}

iframe.appstrio-c {
	margin: 0 auto;
}

h4.sponsor_title {
font-weight: 300;
text-transform: uppercase;
font-size: 15px;
text-align: center;
border-top: 1px solid #CCC;
padding-top: 15px;
margin-bottom: 10px;
}

@media (max-width:  1500px) {

	.isotope .panel {
		width: 23.55%;
	}
}

@media (max-width:  1300px) {

	.isotope .panel {
		width: 31.5%;
	}
}

@media (max-width:  1000px) {

	.isotope .panel {
		width: 47%;
	}
}

@media (max-width:  767px) {

	.isotope .panel {
		width: 98%;
	}
}

@media (min-width: 768px) {

	.vbox>header ~ section {
		top: 65px;
	}

	.navbar-nav>li>a {
		padding-top: 22px;
		padding-bottom: 22px;
	}
}