html, body
{
	padding: 0;
	margin: 0;
}
html
{
	height: 100%;
}

body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	min-height: 100%;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #2588A7;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;

	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}



/* =================================== */

html, body {
background: #FFF url(../images/noise.png) repeat center center fixed !important;
font-size: 15px;
line-height: normal;
color: #444;
}

#logo {
	max-width: 100%;
	padding: 40px 10px;
	box-sizing: border-box;
}

.login_wrapper h4 {
font-weight: 300;
font-size: 17px;
text-align: center;
color: #444;
text-transform: uppercase;
letter-spacing: 1px;
}

.login_wrapper form {
margin: 15px;
}

.login_wrapper input[type=text], .login_wrapper input[type=password], .login_wrapper input[type=email], .login_wrapper select {
background: transparent;
border: 0;
border-bottom: 1px solid #DDD;
box-shadow: none;
margin: 10px 0;
padding: 15px;
font-size: 17px;
font-weight: 300;
}

.btn {
	display: inline-block;
	padding: 7px 10px;
	background: #0D5B74;
	border: 0;
	color: #FFF;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	width: 100%;
	margin: 5px 0;
	box-sizing: border-box;
	text-align: center;
}

a {
	text-decoration: none;
	color: #444;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}

.right {
	float: right;
}

.header img {
max-height: 70%;
margin-top: 5px;
}

.mm-menu {
background: #2588A7;
color: #EEE;
}

.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
border-color: rgba(255, 255, 255, 0.8);
}

.mm-menu .mm-list {
padding: 0;
}

.mm-menu .mm-list > li > a.mm-subclose {
color: rgba(255, 255, 255, 0.6);
}

.mm-list a.mm-subopen:after, .mm-list a.mm-subclose:before {
bottom: 51%;
}

input#bookmark_title, input#bookmark_url, select, input#cat_name {
border: 1px solid #FFF;
border-radius: 2px;
box-sizing: border-box;
outline: none;
font-size: 16px;
margin: 5px 10px;
padding: 5px 10px;
width: calc(100% - 20px);
box-sizing: border-box;
}


input#save_bookmark, button#add_category, button#delete_category {
	padding: 8px 10px;
	background: #0D5B74;
	border: 0;
	color: #FFF;
	border-radius: 3px;
	margin: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	width: calc(100% - 20px);
}

.add_bookmark_wrapper form {
margin: 5px 0;
}

.add_category_wrapper form {
	margin: 5px 0;
}

.delete_category_wrapper form {
	margin: 5px 0;
}

#menu h4 {
font-size: 15px;
font-weight: 300;
margin: 10px 11px;
}

#menu a {
	color: #FFF;
}

input#search_box {
box-sizing: border-box;
outline: none;
font-size: 16px;
margin: 0;
padding: 11px 10px;
width: 100%;
background: transparent;
border: 0;
color: #FFF;
}

.mm-list > li > a, .mm-list > li > span {
padding: 10px 10px 10px 10px;
}

.mm-list a.mm-subclose:before {
left: 12px;
}

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
margin-left: 10px;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CCC;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CCC;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #CCC;
}

.cat {
	background: rgba(191, 215, 226, 0.4);
}

.cat a {
	padding-left: 20px !important;
}

.mm-menu .mm-list > li.cat:last-child:after {
	border-bottom-width: 0 !important;
}

.isotope {
	padding: 10px;
	min-height: 300px;
}

.panel {
width: calc(100% - 20px);
border-top: 2px solid #6EAABD;
float: left;
margin-bottom: 10px;
background-color: #ffffff;
}

.panel.panel-default {
box-shadow: 1px 1px 2px 0px rgba(20,20,20,.1);
}

.panel-heading {
font-size: 15px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 10px;
border-bottom: 1px solid transparent;
border-radius: 2px 2px 0 0;
background-color: #F2F5F8;
}

.panel-heading a {
font-weight: 600;
text-decoration: none;
color: #444;
}

.panel.panel-default>.panel-heading, .panel.panel-default>.panel-footer {
border-color: #e8e8e8;
}

.panel-body {
padding: 0;
position: relative;
height: 90px;
overflow: hidden;
}

.panel-body img {
width: 100%;
}

.panel-body .url {
padding: 5px 10px;
width: 100%;
position: absolute;
bottom: 0;
background: rgba(245, 245, 245, 0.75);
color: #555;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.panel-body .url a {
	color: #444;
	text-decoration: none;
}

.panel-footer {
border-radius: 0 0 2px 2px;
border-top: 1px solid #dddddd;
}

.panel-footer a {
width: 100%;
display: inline-block;
padding: 10px 0;
font-size: 15px;
border-bottom: 2px solid white;
text-align: center;
text-decoration: none;
color: #444;
border-right: 1px solid #EEE;
}

.panel-footer a:last-child {
	border-right: 0;
}

.panel-footer a:hover {
border-bottom: 2px solid #6EAABD;
}

.isotope .panel-footer a.live_site, .isotope .panel-footer a.static_copy {
	width: 42%;
}

.isotope .panel-footer a.delete_bookmark {
	width: 10%;
}

.welcome img {
max-width: 100%;
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

input[type=text], input[type=password], input[type=email], select {
padding: 10px;
border: 1px solid #FFF;
border-radius: 2px;
box-sizing: border-box;
outline: none;
font-size: 16px;
}


.login_wrapper .panel {
	margin: 0 auto;
	float: none;
}

.login_wrapper .panel .panel-heading {
	text-align: center;
}

.login_wrapper .panel .panel-body {
	height: auto;
	padding: 10px;
}

.taken, .error {
	border-bottom: 1px solid rgb(255, 87, 87) !important;
}

.available {
	border-bottom: 1px solid rgb(107, 235, 58) !important;
}
